body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
td,
th {
  padding: 20px;
  min-width: 110px;
}
tr:nth-child(odd) {
  background-color: #f5fafe;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}
.headerNav {
  cursor: pointer;
  position: relative;
}
.headerNav:hover {
  color: #000;
  transition: 0.3s;
}
.headerNav::after {
  content: "^";
  position: absolute;
  right: 10px;
  transform: rotate(180deg);
}
table {
  border-collapse: collapse;
  width: 100%;
  color: #333;
}
.tableFooter tr {
  background-color: #feefe8;
}
.button {
  background-color: #e87116;
  color: #fff;
  border-radius: 5px;
  margin-top: 5px;
  display: block;
  padding: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #f38938;
  transition: 0.3s;
}
